body, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

* {
    box-sizing: inherit;
}

/* part sidebar*/
.sidebar {
    opacity: 1;
    position: fixed;
    width: 300px;
    background-color: #fff;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #757575
}

.sidebar__logo-menu {
    padding-bottom: 64px;
    padding-top: 64px;
    margin: 10px 0;
    font-size: 24px;
}

.sidebar__links-list {
    margin: 0;
    padding: 0;
}

.sidebar__links-item {
    list-style: none;
    text-align: center;
    padding: 8px 16px;
    font-size: 15px;

}


.sidebar--show {
    left: 0;
}

/* part topbar*/

.navigation {
    display: flex;
    width: 100%;
    /*background-color: #fff;*/
    font-size: 24px;
    background-color: #fff;
    padding: 15px;
    z-index: -1;
    padding: 16px;
}


.navigation__button {
    margin-left: auto;
    background: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
}

.main-container {
    min-height: 100vh;

}

.navigation__logo {
    padding: 8px 16px;
}

/**/
.container__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container__img {
    width: 100%;
    vertical-align: top;
}

/**/
.container__links {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.container__links:nth-child(2) {
    background-color: black;
    border: 1px black solid;
}

.link {
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

/*part media queries tablet*/

@media screen and (min-width:600px) {
    .container__images {
        flex-wrap: nowrap;
    }
}
@media screen and (min-width:900px){
    
}