body, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

* {
    box-sizing: inherit;
}

/* part sidebar*/
.sidebar {
    opacity: 1;
    position: fixed;
    width: 300px;
    background-color: #fff;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #757575
}

.sidebar__logo-menu {
    padding-bottom: 64px;
    padding-top: 64px;
    margin: 10px 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
}
.sidebar__links{
    width: 100%;
}
.sidebar__links-list {
    margin: 0;
    padding: 0;
}

.sidebar__links-item {
    list-style: none;
    text-align: center;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 22px;
}
.sidebar__links-item:hover{
    color:#000; 
    background: rgb(204,204,204);
    font-weight: bold;
    
}
.sidebar__link-close{
 text-decoration: none;
 color: #757575;
}

.sidebar--show {
    left: 0;
}

/* part topbar*/

.navigation {
    display: flex;
    width: 100%;
    /*background-color: #fff;*/
    font-size: 24px;
    background-color: #fff;
    padding: 15px;
    z-index: -1;
    padding: 16px;
}


.navigation__button {
    margin-left: auto;
    background: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
}

.main-container {
    min-height: 100vh;

}

.navigation__logo {
    padding: 8px 16px;
}

/**/
.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images__img {
    width: 100%;
    vertical-align: top;
}
.images__content{
    width: 100%;
}

/**/
.container__links {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

nav.container__links a:nth-child(2) {
    background-color: black;
    border: 1px black solid;
    color:#fff;
}
nav.container__links a:nth-child(2):hover{
    background-color: #f1f1f1;
    cursor: pointer;
    color: #000;
}

nav.container__links a:hover{
    background-color: #000;
    cursor: pointer;
    color: #fff;
}
.link {
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

/*part media queries tablet*/

@media screen and (min-width:600px) {
    
.images__content{
    /* display: none; */
    width: calc( 100% / 3 );
}

    
}
@media screen and (min-width: 1224px){
    .navigation{
        display: none;
    }
    .sidebar{
        left: 0;
    }
    .main-container{
        margin-left: 300px;
    }
    .images{
        
        width: 100%;
    }
    .sidebar-hidden{
        display: none;
    }
    
    
}